<link href="/css/styles.css" rel="stylesheet" type="text/css">

<!--Heading-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!--Message block for errors-->
<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<!--Delete Account Form-->
<div class="account-delete">
    <form id="deleteAccount" action="/account/delete/" method="post">
        <p><i>***Confirm Account Deletion - This action is irreversible***</i></p>
        <label for="account_firstname">First Name: </label>
        <input type="text" name="account_firstname" id="account_firstname" required value="<%= locals.accountData.account_firstname %>">
        <label for="account_lastname">Last Name: </label>
        <input for="text" name="account_lastname" id="account_lastname" required value="<%= locals.accountData.account_lastname %>">
        <label for="account_email">E-mail: </label>
        <input for name="account_email" id="account_email" required value="<%= locals.accountData.account_email %>">

        <input type="hidden" name="account_id" <% if(locals.accountData.account_id) { %> value="<%= locals.accountData.account_id %>"<% } %>>
        <button id="deleteAccount" type="submit">Delete Account</button>
    </form>
</div>